# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
Pods/
.symlinks/
DerivedData/
ios/Flutter/ephemeral/

# Secrets
.env
.env.*
!.env.example
